@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;600&family=Poppins:wght@400;500;700&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  background: #f8f8ff;
  font-family: "Inter", sans-serif;
  font-family: "Poppins", sans-serif;
}
header {
  padding: 20px;
  width: 100%;
  background: #5361e4;
}

.contentStayle {
  position: relative;
  max-width: 1150px;
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.ulStayle {
  list-style: none;
  display: flex;
  align-items: center;
  gap: 48px;
}

.ahref {
  text-decoration: none;
  color: var(--White, #fff);
  font-family: "Circular Std";
  font-size: 18px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}

.headerEnd {
  display: flex;
  align-items: center;
  gap: 60px;
}
.selectColor {
  padding: 5px;
  border: none;
  outline: none;
  color: #fff;
  background-color: #5361e4;
  font-family: "Circular Std";
  font-size: 18px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}

.btn {
  color: #000000;
  border-radius: 12px;
  background: var(--White, #fff);
  text-decoration: none;
  padding: 10px 24px;
  border: 2px solid white;
  transition: all 0.5s;
}
.btn:hover {
  color: #fff;
  background-color: #5361e4;
}

/* form style  */

.formStayle {
  padding: 32px 38px;
  gap: 42px;
  margin: 60px;
  border-radius: 24px;
  background: #fff;
  width: 778px;
  height: 1270px;
  margin-left: auto;
  margin-right: auto;
}
h1 {
  margin-bottom: 16px;
  color: var(--Dark, #2a2941);
  font-feature-settings: "clig" off, "liga" off;
  font-family: "Circular Std";
  font-size: 32px;
  font-style: normal;
  font-weight: 500;
  line-height: 130%; /* 41.6px */
}

h2 {
  color: var(--30-black, #b3b3b3);
  font-feature-settings: "clig" off, "liga" off;
  font-family: "Circular Std";
  font-size: 16px;
  font-style: normal;
  font-weight: 450;
  line-height: 130%; /* 20.8px */
  margin-bottom: 32px;
}
.formHero {
  cursor: pointer;
  display: flex;
  gap: 15px;
  align-items: center;
  margin-bottom: 20px;
}

.Fileinput {
  display: none;
}

.userImg {
  object-fit: cover;
  width: 84px;
  height: 84px;
  border-radius: 84px;
}
.save {
  color: var(--Mai, #5361e4);
  font-feature-settings: "clig" off, "liga" off;
  font-family: "Circular Std";
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}

.input {
  display: flex;
  width: 702px;
  height: 56px;
  padding: 18px;
  align-items: flex-start;
  gap: 10px;
  color: var(--Gray, #6e6d77);
  font-feature-settings: "clig" off, "liga" off;
  font-family: "Circular Std";
  font-size: 14px;
  font-style: normal;
  font-weight: 450;
  line-height: normal;
  border-radius: 16px;
  border: 1px solid #e3e3e3;
  outline: none;
  margin-top: 10px;
  margin-bottom: 20px;
}
.mainTitle {
  margin-bottom: 10px;
  color: var(--Dark, #2a2941);
  font-feature-settings: "clig" off, "liga" off;
  font-family: "Circular Std";
  font-size: 14px;
  font-style: normal;
  font-weight: 450;
  line-height: normal;
}

.links {
  display: flex;
  align-items: center;
  gap: 10px;
}

.link {
  padding: 18px;
  border-radius: 12px;
  border: 1px solid #e3e3e3;
}

.formRegion {
  display: flex;
  gap: 30px;
  margin-bottom: 20px;
}

.regiontex {
  margin: 20px 0px 10px 5px;
  color: var(--Dark, #2a2941);
  font-feature-settings: "clig" off, "liga" off;
  font-family: "Circular Std";
  font-size: 14px;
  font-style: normal;
  font-weight: 450;
  line-height: normal;
}
.regionSelect {
  width: 331px;
  height: 56px;
  padding: 18px;
  border-radius: 16px;
  border: 1px solid #e3e3e3;
  outline: none;
}

.select {
  width: 100%;
}

.textarea {
  resize: none;
  padding: 18px;
  width: 100%;
  border-radius: 16px;
  border: 1px solid #e3e3e3;
  outline: none;
}

.formFooter {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 42px 0;
}

.new {
  padding: 18px 25px;
  color: #fff;
  border-radius: 16px;
  background: var(--Mai, #5361e4);
  text-decoration: none;
  border: 2px solid #5361e4;
  transition: all 0.5s;
}

.new:hover {
  color: #000000;
  background-color: #fff;
}

.back {
  text-decoration: none;
  padding: 18px 25px;
  color: #000000;
  border-radius: 16px;
  background: var(--Mai, #ffffff);
  transition: all 0.5s;
}
.back:hover {
  color: rgb(255, 255, 255);
  background-color: #5361e4;
}

.hamburger {
  display: none;
  flex-direction: column;
  justify-content: space-between;
  position: absolute;
  width: 30px;
  height: 20px;
  top: 11px;
  right: 20px;
  cursor: pointer;
}
.hamburger span {
  border-radius: 3px;
  width: 100%;
  height: 4px;
  background-color: #fff;
}
@media (max-width: 968px) {
  .ulStayle {
    display: none;
    list-style: none;
    display: flex;
    align-items: center;
    gap: 28px;
  }

  .headerEnd {
    display: none;
    display: flex;
    align-items: center;
    gap: 20px;
  }
}

@media (max-width: 868px) {
  .hamburger {
    display: flex;
    margin-right: 35px;
  }
  .ulStayle {
    display: none;
    position: absolute;
    display: flex;
    flex-direction: column;
    right: 0px;
    top: 54px;
    /* background-color: #5361e4; */
    padding: 10px 20px;
  }
  .ahref {
    display: none;
    text-decoration: none;
    color: var(--White, #fff);
    font-family: "Circular Std";
    font-size: 18px;
  }

  .headerEnd {
    display: none;
  }
  .formStayle {
    padding: 32px 38px;
    gap: 42px;
    margin: 60px;
    border-radius: 24px;
    background: #fff;
    width: 478px;
    height: auto;
    margin-left: auto;
    margin-right: auto;
  }
  .input {
    display: flex;
    width: 100%;
    height: 56px;
    padding: 18px;
  }
  .formRegion {
    display: flex;
    flex-direction: column;
  }
  .regionSelect {
    width: 100%;
    height: 56px;
    padding: 18px;
    border-radius: 16px;
    border: 1px solid #e3e3e3;
    outline: none;
  }
}

@media (max-width: 500px) {
  .hamburger {
    display: flex;
  }
  .ulStayle {
    display: none;
    position: absolute;
    display: flex;
    flex-direction: column;
    right: 0px;
    top: 54px;
    background-color: #5361e4;
    padding: 10px 20px;
  }
  /* .Open {
    position: absolute;
    display: flex;
    flex-direction: column;
    right: 0px;
    top: 54px;
    background-color: #5361e4;
    padding: 10px 20px;
  } */
  .ahref {
    display: none;
    text-decoration: none;
    color: var(--White, #fff);
    font-family: "Circular Std";
    font-size: 18px;
  }

  .headerEnd {
    display: none;
  }
  .formStayle {
    padding: 12px 18px;
    gap: 32px;
    margin: 40px;
    border-radius: 24px;
    background: #fff;
    width: 378px;
    height: auto;
    margin-left: auto;
    margin-right: auto;
  }
  .input {
    display: flex;
    width: 100%;
    height: 56px;
    padding: 18px;
  }
  .formRegion {
    display: flex;
    flex-direction: column;
  }
  .regionSelect {
    width: 100%;
    height: 56px;
    padding: 18px;
    border-radius: 16px;
    border: 1px solid #e3e3e3;
    outline: none;
  }
}
